snmp-server contact My Team, My Company, My Department, My Number
{%- if VAR0 is defined %}
snmp-server location {{ VAR0 }}
{%- endif %}
snmp-server aaa-user cache-timeout 900
{%- if VAR1 is defined %}
snmp-server source-interface traps {{ VAR1 }}
snmp-server source-interface informs {{ VAR1 }}
{%- else %}
snmp-server source-interface trap Loopback0
snmp-server source-interface inform Loopback0
{%- endif %}
{%- if VAR2 is defined %}
snmp-server host 10.1.2.3 traps version 2c {{ VAR2 }}
snmp-server host 10.3.2.1 traps version 2c {{ VAR2 }}
{%- endif %}
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps lldp lldpRemTablesChange
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server enable traps link cisco-xcvr-mon-status-chg
snmp-server enable traps vtp notifs
snmp-server enable traps vtp vlancreate
snmp-server enable traps vtp vlandelete
snmp-server enable traps bridge newroot
snmp-server enable traps bridge topologychange
snmp-server enable traps stpx inconsistency
snmp-server enable traps stpx root-inconsistency
snmp-server enable traps stpx loop-inconsistency
snmp-server enable traps system Clock-change-notification
snmp-server enable traps syslog message-generated
{%- if VAR2 is defined %}
snmp-server community {{ VAR2 }} group network-operator
snmp-server community {{ VAR2 }} use-acl XYZ
{%- endif %}
